@import '~common/style/constants.less';

.simple-input-modal {
  user-select: none;
  &__content {
    font-size: 14px;
    padding: 30px 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__row {
      display: flex;
      padding: 0 90px 0 60px;
      align-items: center;
      width: 100%;
      height: 38px;

      &:not(:first-child) {
        margin-top: 10px;
      }

      &__label {
        color: @grey--support-text;
        display: inline-block;
        width: 90px;
      }

      &__input {
        width: 280px;
      }
    }
  }
}
