.he-drawer-section {
  &__title {
    height: 33px;
    background-color: #f9f9f9;
    color: #999;
    padding-left: 40px;
    display: flex;
    align-items: center;

    &__text {
      font-size: 12px;
      line-height: 2.6;
    }
  }

  .he-drawer-section-content {
    // padding: 22px 0;
  }
}
.he-drawer-section-global {
  &__title {
    padding-left: 10px;
  }
}
