.rule-component-edit-search-wrapper{
  width: 100%;
  height: 100%;
  padding: 10px;
  background: #F6F7F9;
  .rule-component-edit-search-list-wrapper{
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    .rule-component-edit-search-list{
      padding: 20px 0;
      .rule-component-edit-search-list-item{
        line-height: 32px;
        padding: 0 32px;
        font-size: 16px;
        box-sizing: border-box;
        cursor: pointer;
      }
      .rule-component-edit-search-list-item:hover{
        color: #4a82f7;
      }
    }
  }
}