.he-action-bar {
  display: flex;
  width: 1160px;
  height: 30px;
  &_left {
    display: flex;
    &__create {
      width: 86px;
    }
    &__options {
      margin-left: 16px;
    }
  }
  &_right {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    &-list {
      margin-left: 16px !important;
    }
  }
  &__project {
    margin-right: 7px;
    color: #68d1a5;
  }
  &__folder {
    margin-right: 7px;
    color: #ffbc00;
  }
}

.project-type-select {
  width: 120px;
  height: 28px;
  margin-right: 16px;
  &__content {
    width: 100%;
  }
}
