#testTips {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

#testTipsBtn {
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  width: 100px;
  height: 100px;
  background: #fff;
  font-size: 24px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 1000;
  color: red;
  font-weight: bold;
}

.testTipsContent {
  width: 90%;
  height: 300px;
  background: #fff;
  padding: 10px;
  box-sizing: border-box;
  font-size: 18px;
}

.closeTestTips {
  width: 100px;
  background: #4a82f7;
  text-align: center;
  color: #fff;
  border-radius: 10px;
  margin: 8px auto 0;
}
