.move-operation-content {
  position: absolute;
  width: 15px;
  height: 36px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.move-arrow {
  cursor: pointer;
  background: #fff;
}
