@import '~common/style/constants.less';

.he-project-poster {
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
  cursor: pointer;
  width: 160px;
  margin-right: 20px;
  &--loading {
    .he-project-poster__poster {
      background-color: @grey--function-line;
    }
  }

  &__poster {
    width: 160px;
    height: 240px;
    pointer-events: none;
  }

  &__title {
    margin-top: 14px;
    font-size: 14px;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;

    p {
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
