@import '~common/style/constants.less';

.project-bulk-move-modal {
  user-select: none;
  &__content {
    font-size: 14px;
    max-height: 400px;
    overflow: scroll;
    padding: 20px 40px;

    &__desc {
      color: @grey--support-text;
    }
  }
}
