.he-table {
  background-color: #ffffff;
  width: 100%;
  border-radius: 2px;
  color: #333333;
  .ant-table-thead {
    .ant-table-header-column {
      font-size: 14px;
      font-weight: 500;
      color: #333333;
    }
  }
  .ant-table-thead > tr > th {
    background: #e8eaed;
    border-bottom: 1px solid #e8eaed;
    padding: 14px 16px;
  }
  .ant-table-tbody > tr > td {
    padding: 16px 16px;
    background: #ffffff;
    border-bottom: 1px solid #e2e6ed;
  }
  .ant-table-tbody > tr:hover:not(.ant-table-expanded-row) > td,
  .ant-table-fixed .ant-table-row-hover,
  .ant-table-fixed .ant-table-row-hover > td {
    background-color: #fff !important;
  }
}
