.rich-text-editor {
  position: relative;
  z-index: 20000;

  &__toolbar {
    position: absolute;
    white-space: nowrap;
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
  }

  &__editor {
    min-height: 100%;
  }
}
