@import '~common/style/constants.less';

.he-menu {
  color: @grey--normal-text;
  background-color: #fff;
  width: 100%;
  max-height: 400px;
  overflow: scroll;
  margin-bottom: 0px;
}

.he-menu::-webkit-scrollbar {
  display: none;
}
