@import '~common/style/constants.less';

.he-paper {
  z-index: 10;
  height: 100%;
  background-color: #f6f7f9;
  // border-right: solid 1px #ccc;

  &&--horizontal {
    height: unset;
    width: 100%;
  }
  .he-tabs-group__list {
    border: 1px solid #d6d6d6;
    border-top: none;
    border-right: none;
  }
}
