.widget {
  position: relative;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100%;
}

.border-half:after {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  transform-origin: 0% 0%;
  -webkit-transform-origin: 0% 0%;
  -webkit-transform: scale(0.5, 0.5);
  transform: scale(0.5, 0.5);
  pointer-events: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
