.offline-wrap {
  padding-top: 5.4rem;
  text-align: center;
  font-size: 0.4rem;
  &-logo {
    img {
      width: 4rem;
      margin-bottom: 1.4rem;
    }
  }
  &-more-btn {
    cursor: pointer;
    display: inline-block;
    border-radius: 0.26666667rem;
    border: 0;
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#4a82f7),
      to(#75a5ff)
    );
    background: linear-gradient(#4a82f7, #75a5ff);
    color: #fff;
    font-size: 0.57333333rem;
    width: 6.53333333rem;
    height: 1.30666667rem;
    line-height: 1.30666667rem;
    font-weight: 800;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 0.6rem;
  }
}
