// Import colors
@import '~common/style/constants.less';
@border-color: #f0f0f0;

.he-card-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid @border-color;
  padding: 0 14px;
  height: 62px;
  background-color: #fff;
  font-size: 14px;
  color: @grey--support-text;
}
