.editor-navbar {
  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    &__icon-button {
      width: 70px;
    }
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding-right: 10px;

    &__icon-button {
      width: 60px;
    }
  }
}
// .he-icon-button__icon{
//   width: 32px;
// }
