.expression {
  position: relative;
  padding: 5px 15px;
  background: #4a82f7;
  color: #fff;
  display: inline-block;
  border-radius: 4px;
  max-width: 337px;
  .close {
    position: absolute;
    right: -10px;
    top: -10px;
    padding: 5px;
    cursor: pointer;
    background: #eee;
    border-radius: 100%;
    color: #333;
    z-index: 10;
    // &:hover {
    //   background: #000;
    //   color: #fff;
    // }
  }
}
