@import '~common/style/global.less';

html,
html > body,
#main {
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  margin: 0;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.65);
  font-family: 'Helvetica Neue For Number', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei',
    'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: transparent;
  height: 100%;
}
div,
img {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
}
::-webkit-scrollbar {
  width: 0;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
