.he-row {
  display: block;
  &:not(:first-child) {
    margin-top: 11px;
  }

  &__label {
    color: #666666;
    display: inline-block;
    width: 98px;
    text-align: left;
  }

  &__input,
  &__text {
    width: 180px;
    color: #333333;
    user-select: text;
  }

  &__text {
    display: inline-block;
    text-align: left;
  }
}
