.he-modal-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 20px;
  height: 60px;
  border-top: 1px solid #f0f0f0;
  &__confirm {
    width: 80px;
    margin-right: 10px;
  }
  &__cancel {
    width: 80px;
    background-color: transparent;
    color: #999;
    border-color: #999;
    margin-right: 10px;
  }
}
