@import '~common/style/constants.less';

.he-search-bar {
  width: 1160px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  label {
    color: #666666;
  }
  .project-search__content {
    width: 300px;
    border-radius: 2px;
    height: 32px;
    margin: 0 20px 0 10px;
  }
  .he-select__trigger {
    padding: 6px 20px;
  }
  .he-select__arrow {
    top: 11px;
  }
}
