@import '~common/style/constants.less';

.theme-info-modal {
  user-select: none;

  &__content {
    font-size: 14px;
    padding: 30px 0 30px 40px;
    display: flex;
    flex-direction: column;
    text-align: left;
    box-sizing: border-box;

    &__row {
      display: block;

      &:not(:first-child) {
        margin-top: 10px;
      }

      &__label {
        color: @grey--support-text;
        display: inline-block;
        width: 135px;
        text-align: right;
        margin-right: 5px;
      }

      &__input,
      &__text {
        width: 195px;
      }

      &__text {
        display: inline-block;
      }
    }
  }
}
