.examine-input-modal {
  &__content {
    padding: 10px 20px;
  }
  &__info {
    text-align: left;
    width: 280px;
    padding: 10px 0px 5px;
    font-size: 14px;
    span {
      font-weight: bold;
    }
  }
  &__publish {
    border-radius: 6px;
    font-size: 14px !important;
  }
  &__cancle {
    background-color: #ffffff;
    color: #666;
    border-radius: 6px;
    font-size: 14px !important;
  }
}
