.container {
  display: flex;
  margin: 50px;
  padding: 50px;
  border: solid 1px #ccc;

  .preview-container {
    .preview {
      display: block;
      border: solid 1px #ccc;
      box-sizing: content-box;
    }
  }

  .operation {
    flex: 1;
    padding: 50px;
    text-align: center;
  }
}
