.rule-config {
  color: #333333;
  padding: 80px 0 20px 0;

  .h5-navbar-title {
    margin-top: 28px;
    text-align: center;
    font-size: 16px;
  }

  &__head {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: #ffffff;
    z-index: 200;
  }

  &__content {
    max-width: 700px;
    margin: 19px auto;
  }

  &__next {
    text-align: center;
    margin-bottom: 20px;

    &__btn {
      padding: 0 10px !important;
      margin: 0 20px !important;
    }
  }

  .control {
    margin: 30px 0;
  }

  .assemble-list-item {
    width: 100% !important;

    .control {
      margin: 15px 0;
    }
  }

  #List1 {
    margin-top: 10px;
  }
}
