.dashboard {
  box-sizing: border-box;
  padding: 0px 20px;
  &__header {
    padding: 30px 0 16px 0;
    &__title {
      font-size: 16px;
      font-weight: 500;
      color: rgba(33, 40, 49, 1);
    }
    &__info {
      display: inline-block;
      margin-left: 32px;
      font-size: 14px;
      font-weight: 400;
      color: rgba(173, 180, 190, 1);
    }
    &__percentage {
      display: inline-block;
      margin-left: 16px;
      font-size: 14px;
      color: #68d1a5;
    }
  }
  &__content {
    width: 1160px;
    height: 354px;
    box-sizing: border-box;
    padding: 20px 0px;
    background: rgba(255, 255, 255, 1);
    border-radius: 2px;
    border: 1px solid rgba(240, 242, 246, 1);
  }
}
