.HE-widget-config {
  padding: 0 20px;
  text-align: start;
  max-height: 400px;
  width: 100%;
  overflow-y: auto;
  .HE-widget-config__title {
    color: rgba(0, 0, 0, 0.85);
    padding-bottom: 10px;
    font-weight: 500;
  }
  .HE-widget-config__item {
    padding-bottom: 10px;
  }
}
.component-no-config-tips {
  padding: 20px;
  text-align: center;
}
